.imgRedonda{
    height: 350px;
    border-radius: 40px 40px 40px 40px;
    border: 0px;
    align-content: center;
}
.fraseMichael{
    font-family: 'Raleway', sans-serif;
    color:#616161;
    text-align: center;
    margin-top: -2%;

}
h1{
    text-align: center;
    font-size: 50pt;
}
body{
    background-color: #616161
}